<ul class="example-orbit" data-orbit style="min-height:300px;">
    <li>
        <img src="http://farm4.staticflickr.com/3818/8903543653_6c70063119_n.jpg" style="height:300px;" alt="slide 1" />
        <div class="orbit-caption">
            Caption One.
        </div>
    </li>
    <li>
        <img src="http://farm8.staticflickr.com/7439/9137380036_e4f347ef12_n.jpg" style="height:300px;" alt="slide 2" />
        <div class="orbit-caption">
            Caption Two.
        </div>
    </li>
    <li>
        <img src="http://farm5.static.flickr.com/4022/4677611099_0745437895_m.jpg" style="height:300px;" alt="slide 3" />
        <div class="orbit-caption">
            Caption Three.
        </div>
    </li>
</ul>