﻿<div class="off-canvas-wrap" >
    <div class="inner-wrap">

      <nav class="tab-bar" data-topbar>
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon"><span></span></a>
        </section>

        <section class="right tab-bar-section">
          <div class="left">
            <h1 class="title">Sen~</h1>
          </div>
          
          <div class="right">
            <div class="divider"></div>
            <h2 data-layout-role="currentuser"></h2>
          </div >
        </section>
    </nav>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu" data-layout-role="mainmenu">
    </aside>

    <div class="body" data-layout-role="body">

    </div>

	<!-- close the off-canvas menu -->
	<a class="exit-off-canvas"></a>

    </div>
</div>		
