<div>
    NFC Stuff
    <hr />
    Console :
    <div data-role="console"></div>

    <input type="checkbox" id="cbShowRaw" style="margin:10px 0 10px 0;" /><label for="cbShowRaw">Show raw tag content</label>
    <hr />

    Write to tag :

    <input type="text" id="txtPayload" />
    <input type="checkbox" id="cbWriteEmpty" /><label for="cbWriteEmpty">Clear tag</label>

</div>