﻿<ul class="off-canvas-list">
    <li><label>Choices</label></li>
    <li><a href="#" data-route="home">home</a></li>
    <li><a href="#" data-route="login">login</a></li>
	<li><a href="#" data-route="join">join</a></li>
    <li><a href="#" data-route="json">json test</a></li>
    <li><a href="#" data-route="carousel">Images</a></li>
    <li><a href="#" data-route="accordion">Accordion</a></li>
    <li><a href="#" data-route="camera">Camera</a></li>
    <li><a href="#" data-route="nfc">NFC</a></li>
    <li><a href="#" data-route="barcode">Barcode</a></li>
    <li><a href="#" data-route="notification">Notification</a></li>
    <li><a href="#" data-route="accelerometer">Accelerometer</a></li>
    <li><a href="#" data-route="gps">Gps</a></li>
    <li><a href="#" data-route="bluetooth">Bluetooth LTE</a></li>
    <li><a href="#" data-route="bluetoothProx">Bluetooth Prox</a></li>
</ul>
